<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SobreNosotros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="SobreNosotros">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Sobre Nosotros</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SobreNosotros</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <h1>¿Quienes somos?</h1>
    <p>Somos un pequeño grupo de desarrollo web afincado en Ubrique, Cádiz. Nuestra misión principal es la de proveer al usuario final
    una serie de aplicaciones interactivas, enfocadas en las especificaciones del cliente.</p>
  </div>
  <div>
    <h1>¿Donde nos encontramos?</h1>
  </div>
</ion-content>
