/* Estilos generales */
:root {
  --ion-color-primary: #019ae8;
  --ion-color-secondary: #817f7f;
  --ion-color-tertiary: #f4f4f4;
 }
 
 /* Estilos para el home */
 #container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
 }
 
 /* Estilos para la lista de películas */
 .listaPelis {
  h1 {
     text-align: center;
     font-weight: bold;
     background-color: var(--ion-color-secondary);
     padding: 15px;
     border-radius: 15px;
  }
  ion-list {
     --background: var(--ion-color-tertiary);
     ion-item {
       --background: #f0e68c;
     }
  }
 }
 
 /* Estilos para los botones */
 ion-button {
  --background: var(--ion-color-primary);
  --color: white;
  --border-radius: 10px;
 }
 
 /* Estilos para el tab bar */
 ion-tab-bar {
  --background: var(--ion-color-primary);
  --color: white;
 }
 ion-icon{
  font-size: 24px;
 }
 