<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-ionic"></ion-icon> Peliculas
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="SobreNosotros">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<div class="listaPelis">
  <h1>Lista de Peliculas</h1>
  <ion-list>
    <ion-item *ngFor="let documentPelicula of arrayColeccionPeliculas" (click)="selecPelicula(documentPelicula.id, documentPelicula.pelicula)">
      <ion-grid>
        <ion-row>
          <h2>{{documentPelicula.pelicula.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p><Strong>Sinopsis</Strong><br/>{{documentPelicula.pelicula.sinopsis}}</p>
        </ion-row>
        <ion-row presentation="date">
          <p><Strong>Fecha de Estreno</Strong><br/>{{documentPelicula.pelicula.fechaEstreno}}</p>
        </ion-row>
        <ion-row>
          <p><Strong>Nota de la crítica</Strong><br/>{{documentPelicula.pelicula.notaCritica}}</p>
        </ion-row>
        <ion-row>
          <p><strong>Poster de la pelicula:</strong><img src="{{documentPelicula.pelicula.imagenURL}}" alt=""></p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</div>
<ion-fab slot="fixed" vertical="bottom" horizontal="center">
  <ion-fab-button (click)="clickBotonAddPeli()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>

